body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #5544ca;
    color: white;
    padding: 3%;
    text-align: center;
}

section {
    padding: 5%;
    max-width: 1000px;
    margin: auto;
}

.carta {
    background-color: white;
    padding: 2%;
    margin: 1%;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgb(113, 113, 113);
}

.carta ul {
    padding-left: 5%;
    margin: 0;
    list-style-type: disc;
    font-size: 90%;
  }

.seccion-imagen {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
    margin: 10px;
}

.project-title {
    font-size: 120%;
    color: #5544ca;
    margin-bottom: 2%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
}

a {
    color: #5544ca;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.foto-perfil {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #7a69e8;
    margin-top: 1%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.foto-proyectos {
    display: block;
    width: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.lista{
    padding: 1%; 
    list-style-type: disc;
}